<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header" ><title>메롱</title></head>

<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
<!--    <link rel="canonical" href="https://getbootstrap.kr/docs/5.2/examples/sign-in/">-->
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<div class="container">

<main class="form-signin w-50 m-auto">
    <form role="form" action="/members/beSitter" method="post" th:object="${memberUpdateForm}">
        <br>
        <h1 class="h3 mb-3 fw-normal text-center">추가 정보를 입력해 주세요</h1>

        <div class="form-group">
            <label th:for="birthDate">생년월일</label>
            <input type="date" th:field="*{birthDate}" class="form-control"
                   th:class="${#fields.hasErrors('birthDate')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('birthDate')}"
               th:errors="*{birthDate}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="si">시</label>
            <input type="text" class="form-control" th:field="*{si}" placeholder="성남시"
                   th:class="${#fields.hasErrors('si')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('si')}"
               th:errors="*{si}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="gu">구</label>
            <input type="text" class="form-control" th:field="*{gu}" placeholder="분당구"
                   th:class="${#fields.hasErrors('gu')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('gu')}"
               th:errors="*{gu}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="phoneNumber">전화번호</label>
            <input type="text" class="form-control" th:field="*{phoneNumber}" placeholder="01012345678"
            th:class="${#fields.hasErrors('phoneNumber')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('phoneNumber')}"
               th:errors="*{phoneNumber}">Incorrect date</p>
        </div>

        <label th:for="gender">성별</label>
        <div class="form-group">
            <select class="form-select" th:field="*{gender}"
            th:class="${#fields.hasErrors('gender')}? 'form-select fieldError' : 'form-select'">
                <option selected value="">선택</option>
                <option th:value="남성">남성</option>
                <option th:value="여성">여성</option>
            </select>
            <p th:if="${#fields.hasErrors('gender')}"
               th:errors="*{gender}">Incorrect date</p>
        </div>

<!--        <select name="itemId" id="item" class="form-control"> <option value="">상품선택</option>-->
<!--            <option th:each="item : ${items}"-->
<!--                    th:value="${item.id}"-->
<!--                    th:text="${item.name}" />-->
<!--        </select>-->


        <br>

        <button class="w-100 btn btn-lg btn-primary" type="submit">저장하기</button>
<!--        <button class="w-100 btn btn-lg btn-secondary" type="button" th:href="@{~/}">뒤로가기</button>-->
    </form>
</main>

</div>


<div th:replace="fragments/footer :: footer" />
</body>
</html>