<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header"></div>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    .fieldError {
      border-color: #bd2130;
    }
  </style>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container-fluid">

  <main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
      <a href="/members/myInfo" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">마이 페이지</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/members/myInfo" class="nav-link link-dark">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
            개인 정보
          </a>
        </li>

        <li>
          <a href="/members/myPet" class="nav-link link-dark" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
            펫 정보
          </a>
        </li>
        <li>
          <a href="/members/myItem" class="nav-link link-dark">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
            판매 내역
          </a>
        </li>
        <li>
          <a href="/members/myOrder" class="nav-link active bg-warning">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            주문내역
          </a>
        </li>
        <li>
          <a href="/members/myPoint" class="nav-link link-dark">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            포인트
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
          <img th:src="${user.picture}" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong th:text="${user.name}"></strong>
        </a>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">마이 페이지</h1>
      </div>

      <h2>내가 주문한 내역</h2>
      <table class="table table-striped table-sm text-center align-middle">
        <thead> <tr>
          <th>가능시작날짜</th> <th>가능마지막날짜</th> <th>요청날짜</th> <th>현황</th> <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
          <td th:text="${#temporals.format(order.startDate, 'yyyy-MM-dd hh:mm')}"></td>
          <td th:text="${#temporals.format(order.endDate, 'yyyy-MM-dd hh:mm')}"></td>
          <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd hh:mm')}"></td>
          <td th:text="${order.status}"></td>
          <td>
            <a th:if="${order.status != null and order.status == T(com.momo.domain.OrderStatus).PENDING}" th:href="@{/members/orders/{id}/canceled (id=${order.id})}" class="btn btn-primary" role="button">취소</a>
          </td>
          <td>
            <a th:if="${order.status != null and order.status == T(com.momo.domain.OrderStatus).ACCEPTED}" th:href="@{/members/orders/{id}/completed (id=${order.id})}" class="btn btn-primary" role="button">완료</a>
          </td>
        </tr>
        </tbody>
      </table>

      <h2>내가 받은 주문 내역</h2>
      <table class="table table-striped table-sm text-center align-middle">
        <thead> <tr>
          <th>가능시작날짜</th> <th>가능마지막날짜</th> <th>요청날짜</th> <th>현황</th> <th></th> <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${sittingOrders}">
          <td th:text="${#temporals.format(order.startDate, 'yyyy-MM-dd hh:mm')}"></td>
          <td th:text="${#temporals.format(order.endDate, 'yyyy-MM-dd hh:mm')}"></td>
          <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd hh:mm')}"></td>
          <td th:text="${order.status}"></td>
          <td>
            <a th:if="${order.status != null and order.status == T(com.momo.domain.OrderStatus).PENDING}" th:href="@{/members/orders/{id}/accepted (id=${order.id})}" class="btn btn-primary" role="button">수락</a>
          </td>
          <td>
            <a th:if="${order.status != null and order.status == T(com.momo.domain.OrderStatus).PENDING}" th:href="@{/members/orders/{id}/declined (id=${order.id})}" class="btn btn-primary" role="button">거절</a>
          </td>

        </tr>
        </tbody>
      </table>

    </main>

  </main>

</div>
</div>
<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>