<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            .fieldError {
                border-color: #bd2130;
          }
        </style>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div class="container-fluid">

<main class="d-flex flex-nowrap">
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/members/myInfo" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">마이 페이지</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/members/myInfo" class="nav-link link-dark">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                개인 정보
            </a>
        </li>

        <li>
            <a href="/members/myPet" class="nav-link active bg-warning" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                펫 정보
            </a>
        </li>
        <li>
            <a href="/members/myItem" class="nav-link link-dark">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                판매 내역
            </a>
        </li>
        <li>
            <a href="/members/myOrder" class="nav-link link-dark">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                주문내역
            </a>
        </li>
        <li>
            <a href="/members/myReview" class="nav-link link-dark">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                리뷰
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
            <img th:src="${user.picture}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong th:text="${user.name}"></strong>
        </a>
    </div>
</div>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">마이 페이지</h1>
    </div>

    <h2>펫 정보</h2>
    <div class="table-responsive">

        <form role="form" action="/members/updateMyPet" th:object="${form}" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <img id="image" th:src="${pet.photo}" height="200">
                사진 : <input type="file" th:field="*{photo}">
            </div>

            <div class="form-group">
                <label th:for="pet.name">이름</label>
                <input type="text" id="name" name="name" th:value="${pet.name}" class="form-control">
            </div>


            <!-- 성별에 따른 selected 값 변경 START-->
            <label th:for="gender">성별</label>

            <div th:unless="${#strings.equals(pet.gender, '남성')}" class="form-group" >
                <select class="form-select" th:field="*{gender}">
                    <option th:value="여성" selected >암컷</option>
                    <option th:value="남성" >수컷</option>
                </select>
            </div>

            <div th:if="${#strings.equals(pet.gender, '남성')}" class="form-group" >
                <select class="form-select" th:field="*{gender}">
                    <option th:value="남성" selected >수컷</option>
                    <option th:value="여성" >암컷</option>
                </select>
            </div>
            <!-- 성별에 따른 selected 값 변경 END-->


            <!-- 펫 종류에 따른 selected 값 변경 START-->
            <label th:for="petType">종류</label>

            <div th:unless="${#strings.equals(pet.petType, '개')}" class="form-group" >
                <select class="form-select" th:field="*{petType}">
                    <option th:value="고양이" selected >고양이</option>
                    <option th:value="개" >개</option>
                </select>
            </div>

            <div th:if="${#strings.equals(pet.petType, '개')}" class="form-group" >
                <select class="form-select" th:field="*{petType}">
                    <option th:value="개" selected >개</option>
                    <option th:value="고양이" >고양이</option>
                </select>
            </div>
            <!-- 펫 종류에 따른 selected 값 변경 END-->

            <div class="form-group">
                <label th:for="breed">품종</label>
                <input type="text" id="breed" name="breed" th:value="${pet.breed}" class="form-control">
            </div>

            <div class="form-group">
                <label th:for="birthDate">생년월일</label>
                <input type="date" id="birthDate" name="birthDate" th:value="${pet.birthDate}" class="form-control">
            </div>

            <div class="form-group">
                <label th:for="remark">주의사항</label>
                <input type="text" id="remark" name="remark" th:value="${pet.remark}" class="form-control">
            </div>

            <hr>

            <div class="btn-group me-2">
                <button type="submit" class="btn btn-sm btn-outline-secondary">수정 완료</button>
            </div>
        </form>

    </div>
</main>


</main>

</div>
</div>
<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
