<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header" ><title>메롱</title></head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div class="container-fluid">

    <main class="d-flex flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <a href="/members/myInfo" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">마이 페이지</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/members/myInfo" class="nav-link link-dark" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                        개인 정보
                    </a>
                </li>
                <li>
                    <a href="/members/myPet" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                        펫 정보
                    </a>
                </li>
                <li>
                    <a href="/members/myItem" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                        판매 내역
                    </a>
                </li>
                <li>
                    <a href="/members/myOrder" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                        주문내역
                    </a>
                </li>
                <li>
                    <a href="/members/myPoint" class="nav-link active bg-warning">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                        포인트
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="${user.picture}" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong th:text="${user.name}"></strong>
                </a>
            </div>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">마이 페이지</h1>
            </div>

            <h2>내 포인트</h2>
            <img src="https://yelobucket.s3.ap-northeast-2.amazonaws.com/1000_F_247263497_51iQyohDs8dr0zBEWstoBlmB3kReU8yQ-removebg-preview.jpeg"
            style="height: 50px">
            <strong data-th-text="${#numbers.formatInteger(user.point, 3, 'COMMA') + '원'}"></strong>
            <div class="table-responsive">

                <div class="card-body bg-white mt-0 shadow">
                    <p style="font-weight: bold">카카오페이 현재 사용가능</p>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="5000"><span>5,000원</span></label>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="10000"><span>10,000원</span></label>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="15000"><span>15,000원</span></label>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="20000"><span>20,000원</span></label>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="25000"><span>25,000원</span></label>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="30000"><span>30,000원</span></label>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="35000"><span>35,000원</span></label>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="40000"><span>40,000원</span></label>
                    <label class="box-radio-input"><input type="radio" name="cp_item" value="50000"><span>50,000원</span></label>
                    <p  style="color: #ac2925; margin-top: 10px">카카오페이의 최소 충전금액은 5,000원이며 <br/>최대 충전금액은 50,000원 입니다.</p>
                    <button type="button" onclick="requestPay()" class="btn btn-sm btn-outline-secondary" id="charge_kakao">충 전 하 기</button>
                </div>

            </div>
        </main>
    </main>
</div>


<!--<button onclick="requestPay()">결제하기</button>-->

<div th:replace="fragments/footer :: footer" />
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script>
    $('#charge_kakao').click(function () {
        // getter
        var IMP = window.IMP;
        IMP.init('imp16541374');
        var money = $('input[name="cp_item"]:checked').val();
        console.log(money);

        IMP.request_pay({
            pg: 'kakaopay.TC0ONETIME',
            merchant_uid: 'merchant_' + new Date().getTime(),

            name: '모모펫 포인트 충전',
            amount: money
            // buyer_email: 'iamport@siot.do',
            // buyer_name: '구매자이름',
            // buyer_tel: '010-1234-5678',
            // buyer_addr: '인천광역시 부평구',
            // buyer_postcode: '123-456'
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                // msg += '고유ID : ' + rsp.imp_uid;
                // msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                // msg += '카드 승인번호 : ' + rsp.apply_num;
                $.ajax({
                    type: "POST",
                    url: "/members/myPoint", //충전 금액값을 보낼 url 설정
                    data: {
                        "amount" : money
                    },
                });
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
                alert(msg);
            document.location.href="/members/myPoint"; //alert창 확인 후 이동할 url 설정
        });
    });
</script>

</html>