<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="px-4 py-5 my-5 text-center">
<!--        <img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="display-5 fw-bold">가입 방식을 선택해주세요</h1>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">돌보미로 가입하기</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">보호자로 가입하기</button>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
</body>
</html>
