<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header"/>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="container">

    <!-- Page Heading -->
    <br>
    <h1 class="h3 mb-2 text-gray-800">내 펫 자랑하기 게시판</h1>
    <p class="mb-4">※내 펫을 자랑해봐요※</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4" >
        <div class="card-header py-3">
            <a href="/board/write" class="btn btn-primary text-white">글쓰기</a>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

<!--                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                                   role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 50px;">
                                        글번호
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Position: activate to sort column ascending"
                                        style="width: 174.091px;">제목
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending"
                                        style="width: 73.0909px;">작성자
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Start date: activate to sort column ascending"
                                        style="width: 74.0909px;">작성일
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Salary: activate to sort column ascending"
                                        style="width: 90.0909px;">조회수
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="odd" th:each="board : ${list}">
                                    <td class="sorting_1" th:text="${board.id}">글번호</td>
                                    <td>
                                        <a th:text="${board.title}" th:href="@{/board/{id}(id=${board.id})}" >제목</a>
                                    </td>
                                    <td th:text="${board.name}">조용훈</td>
                                    <td th:text="${board.getCreatedDate()}">2008/11/28</td>
                                    <td th:text="${board.views}">조회수</td>
                                    <td>
                                        <img id="image" th:src="*{board.photo}" height="100" width="100">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>-->


                    <div class="album py-5 bg-body-tertiary">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col" th:each="board : ${list}">
                                    <div class="card shadow-sm">
                                        <img th:src="*{board.photo}" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
                                        <div class="card-body"><br>
                                            <div class="text-center">
                                                <div> <a th:text="${board.title}" th:href="@{/board/{id}(id=${board.id})}" style="font-weight: bold; font-size: 1.3em;">제목</a></div>
                                            </div><br>
                                            <div class="d-flex justify-content-between">
                                                <div>작성자: <div th:text="${board.name}">조용훈</div></div>
                                                <div>작성시간: <div th:text="${board.getCreatedDate()}">2008/11/28</div></div>
                                                <div>조회수: <div th:text="${board.views}">조회수</div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination justify-content-center">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${nowPage <= startPage} ? 'disabled' : ''">
                                        <a class="page-link" th:if="${nowPage > startPage}" th:href="@{/board/list(page=${nowPage - 2})}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                        <li class="page-item" th:classappend="${page == nowPage} ? 'active' : ''">
                                            <a class="page-link" th:if="${page != nowPage}" th:href="@{/board/list(page=${page - 1})}" th:text="${page}"></a>
                                            <strong th:if="${page == nowPage}" class="page-link" th:text="${page}" style="color: red"></strong>
                                        </li>
                                    </th:block>
                                    <li class="page-item" th:classappend="${nowPage + 1 > list.totalPages || nowPage >= endPage} ? 'disabled' : ''">
                                        <a class="page-link" th:if="${nowPage + 1 <= list.totalPages}" th:href="@{/board/list(page=${nowPage})}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: footer"/>
</html>