<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments/header :: header"/>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<!-- 자바스크립트에 타임리프표현식 전달하는 방법 -->



<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="layout" th:object="${board}">
    <form action="/board/write" method="post">
        <div class="container">
            <div class="form-group">
                <br>
                <div>조회수: <span th:text="${board.views}">0</span></div>
                <div>작성시간: <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}">2008/11/28</span></div>
                <label th:for="board.title">제목</label>
                <input type="text" th:field="${board.title}" class="form-control" readonly>

                <div class="form-group text-center">
                    <label th:for="name">사진</label>
                    <div style="max-width: 400px; margin: 0 auto;">
                        <img id="image" th:src="*{photo}" height="400">
                    </div>
                </div>

                <label th:for="board.content">내용</label>
                <textarea type="text" th:field="${board.content}" class="form-control" rows="10" readonly></textarea>
                <div class="text-center"><br>
                    <a class="btn btn-secondary text-white" th:href="@{/board/list}">뒤로가기</a>
                    <a class="btn btn-info" th:href="@{/board/delete(id=${board.id})}">글 삭제</a>
                    <a class="btn btn-primary" th:href="@{/board/modify/{id}(id = ${board.id})}">수정</a>
                </div>
            </div>

        </div>
    </form>

    <div class="container">
        <div class="form-group">
    <h2>댓글</h2>
    <ul>
        <br>
        <li th:each="reply : ${board.replies}">
            <div>작성자: <span th:text="${board.name}"></span></div>
            <div>댓글: <span class="form-control" readonly th:text="${reply.text}"></span></div>
        </li>
    </ul>


    <form th:action="@{'/board/' + ${board.id} + '/reply'}" method="post" style="margin-left: 30px;">
        <span><input class="form-control" type="text" name="text" placeholder="댓글 내용"></span>
        <span><button class="btn btn-primary" type="submit" style="margin-top: 10px;">댓글 작성</button></span>
    </form>


    <div th:replace="fragments/footer :: footer"/>
</div>
</div>
</div>

</body>
</html>

