<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="bodyHeader">
    <!-- 네비게이션바   -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
        <div class="container">
            <a class="navbar-brand" href="/">모모펫<span>.</span></a>
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
            <!--로그인 X-->
            <div th:unless="${#authorization.expr('isAuthenticated()')}" class="collapse navbar-collapse" >

                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li><a class="nav-link" href="#">돌보미 찾기</a></li>
<!--                    <li><a class="nav-link" href="#">돌보미가 되어보기</a></li>-->
                    <li><a class="nav-link" href="#">자랑하기</a></li>
<!--                    <li><a class="nav-link" href="/members/selectMember">회원가입</a></li>-->
<!--                    <li><a class="nav-link" href="/members/login">로그인</a></li>-->
                    <li><a th:href="@{/oauth2/authorization/google}" class="nav-link" >구글 로그인</a></li>
                    <li><a th:href="@{/oauth2/authorization/naver}" class="nav-link" >네이버 로그인</a></li>
                </ul>

<!--                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">-->
<!--                    <li><a class="nav-link" href="/members/myPage"><img src="../images/user.svg"></a></li>-->
<!--                </ul>-->
            </div>
            <!--로그인 X-->

            <!--로그인 O-->
            <div th:if="${#authorization.expr('isAuthenticated()')}" class="collapse navbar-collapse" >
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li><a class="nav-link" th:href="@{~/items}">돌보미 찾기</a></li>
                    <li><a class="nav-link" th:href="@{~/items/new}">돌보미가 되어보기</a></li>
                    <li><a class="nav-link" href="#">자랑하기</a></li>
<!--                    <li><a class="nav-link" href="/members/selectMember">회원가입</a></li>-->
                    <li><a class="nav-link" th:href="@{/logout}">로그아웃</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" th:href="@{~/members/myInfo}"><img src="../images/user.svg"></a></li>
                </ul>
            </div>
            <!--로그인 O-->
        </div>
    </nav>
    <!-- 네비게이션바   -->

</div>