<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="border-top copyright" th:fragment="footer">
    <!--    <p>&copy; 모모펫</p>-->
    <div class="row pt-4">
        <div class="col-lg-6">
            <p class="mb-2 text-center text-lg-start">
                Copyright @
                <script>document.write(new Date().getFullYear())</script>
                . All Rights Reserved. - Designed with love by Momopet
            </p>
        </div>
        <div class="col-lg-6 text-center text-lg-end">
            <ul class="list-unstyled d-inline-flex ms-auto">
                <li class="me-4">
                    고객센터 : TEL) 031-757-7979
                </li>
                <li>
                    개인정보 책임자 : 김민규
                </li>
            </ul>

        </div>
<!--        <ul class="footer">
            <li>사업자등록번호 : 201-81-21515</li>
            <li>주식회사 모모펫컴퍼니</li>
            <li>대표이사 : Ben Chung</li>
            <li>TEL : 1588-7979</li>
            <li>개인정보 책임자 : 김민규</li>
            <li>고객센터 : TEL) 031-757-7979</li>
        </ul>-->
    </div>

<!--    <span class="en">2023 Momopet Company. All Rights Reserved.</span>-->
</div>
