<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div th:if="${userName}">
                    <span class="text-warning" id="user" th:text="${userName}"></span> <span class="text-warning">님 반갑습니다!</span>
                </div>
                <div th:unless="${userName}">
<!--                    <br>-->
                </div>
                <div class="intro-excerpt">
                    <h1>Momopet <br><span class="d-block">Loves your pet</span></h1>
                    <p class="mb-5">혼자 남겨진 반려동물을 생각하며, 외출을 망설인 적이 있으신가요? <br>
                        이제 MOMOPET에서 반려동물을 돌봄님에게 맡기고, <br> 여러분의 소중한 일상을 마음 편히 보내세요.</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="images/dogAndCat.webp" class="img-fluid" style="height: 450px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<!-- Start We-help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1">
                        <img src="images/sleepyDog.jpeg">
                    </div>
                    <div class="grid grid-2">
                        <img src="images/dog.jpeg">
                    </div>
                    <div class="grid grid-3">
                        <img src="images/pets.jpeg">
                    </div>
                </div>
            </div>

            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">모모펫 서비스 소개</h2>
                <p>
                    집을 비워야하거나 장기간 어디 가야하는데 내 반려견이나 반려묘를 믿고 맡기실 곳을 모르시나요? <br>
                    앞으로 모모펫이 당신의 든든한 친구가 되어줄 것입니다. <br>
                    언제든, 어디든, 보호자님의 상황에 맞추어 돌봄님을 찾아 요청해주시면 됩니다. <br>
                    보호자님이 돌봄님 댁에 펫을 데려다주시기만 하면, 펫은 돌봄님 댁에서 돌봄님의 가족처럼 보살펴드릴 것입니다.
                </p>
                <ul class="list-unstyled custom-list my-0">
                    <li><h6>Dog Walking</h6>
                        <p>내 펫이 에너지가 넘쳐나지만 내가 산책시켜줄 힘이 없을 때</p></li>
                    <li><h6>Doggy Day Care</h6>
                        <p>출근하면 하루종일 혼자 있을 내 펫이 걱정되고 미안할 때</p></li>
                    <li><h6>Dog Training</h6>
                        <p>내 펫이 아직 훈련이 더 필요하다고 판단될 때</p></li>
                    <li><h6>Dog Boarding</h6>
                        <p>내가 장기간 어디 가는데 내 펫을 데리고 갈 여건이 되지 않을 때</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End We-help Section -->

<!--Start Why Choose Us Section-->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">모모펫 사용방법</h2>
                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/bag.svg" alt="Image" class="img-fluid">
                            </div>
                            <h3>1. 돌봄님 찾기</h3>
                            <P>주위에 계신 돌봄님들을 찾아본 후, 나와 내 펫에 제일 잘 맞는 돌봄님을 찾기</P>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/return.svg" alt="Image" class="img-fluid">
                            </div>
                            <h3>2. 돌봄님께 요청하기</h3>
                            <P>원하시는 돌봄님을 찾은 후, 포인트 충전하고 해당 돌봄님께 요청 보내기</P>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/support.svg" alt="Image" class="img-fluid">
                            </div>
                            <h3>3. 기다리기</h3>
                            <P>돌봄님의 회신(수락/거절)을 기다리기 (돌봄요청의 수락과 동시에 결제가 됩니다)</P>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/truck.svg" alt="Image" class="img-fluid">
                            </div>
                            <h3>4. 나의 펫 데려다주기</h3>
                            <P>돌보미댁에 나의 펫 데려다주고 마음 편하게 행복한 일상 보내기</P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="images/catAndPerson.jpeg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Why Choose Us Section-->


<div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
