<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <!--Daterangepicker 관련 CSS & JS-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form method="post" th:action="@{/items/new}" th:object="${form}">
        <div class="form-group">
            <label th:for="nickname">닉네임</label>
            <input class="form-control" placeholder="닉네임을 입력하세요" th:field="*{nickname}"
                   type="text"></div>
        <div class="form-group">
            <label th:for="price">일급</label>
            <input class="form-control" placeholder="일급을 입력하세요" th:field="*{price}"
                   type="number"></div>
        <div class="form-group">
            <label th:for="introduction">자기소개</label>
            <input class="form-control" placeholder="자기소개를 입력하세요" th:field="*{introduction}"
                   type="text"></div>
        <div class="form-group">
            <label th:for="daterange">가능날짜</label>
            <input class="form-control" type="text" name="daterange" readonly />
            <input type="hidden" th:field="*{startDate}"/>
            <input type="hidden" th:field="*{endDate}"/>
        </div>
        <br>
        <div class="text-center">
            <script>
                $(function () {
                    $('input[name="daterange"]').daterangepicker(
                        {
                            opens: 'right',
                            timePicker: true,
                            locale: {
                                format: "YYYY-MM-DD hh:mm",
                                separator: " - ",
                                applyLabel: "확인",
                                cancelLabel: "취소",
                                fromLabel: "From",
                                toLabel: "To",
                                customRangeLabel: "Custom",
                                weekLabel: "W",
                                daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
                                monthNames: [
                                    "1월",
                                    "2월",
                                    "3월",
                                    "4월",
                                    "5월",
                                    "6월",
                                    "7월",
                                    "8월",
                                    "9월",
                                    "10월",
                                    "11월",
                                    "12월"
                                ],
                            },
                            /*startDate: $('input[name="startDate"]').val(),
                            endDate: $('input[name="endDate"]').val(),*/

                            drops: "auto",
                        },
                        function (start, end) {
                            $('input[name="startDate"]').val(start.format("YYYY-MM-DD hh:mm"));
                            $('input[name="endDate"]').val(end.format("YYYY-MM-DD hh:mm"));
                            console.log(
                                "A new date selection was made: " +
                                start.format("YYYY-MM-DD") +
                                " to " +
                                end.format("YYYY-MM-DD")
                            );
                        }

                    );
                });
            </script>

            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>

</html>
