<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <table class="table table-striped table-sm">
    <thead> <tr>
        <th>일급</th> <th>자기소개</th> <th>가능시작날짜</th> <th>가능마지막날짜</th> <th></th>
    </tr>
    </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.price}"></td>
            <td th:text="${item.introduction}"></td>
            <td th:text="${#temporals.format(item.startDate, 'yyyy-MM-dd hh:mm')}"></td>
            <td th:text="${#temporals.format(item.endDate, 'yyyy-MM-dd hh:mm')}"></td>
            <td>
                <a th:href="@{items/{id}/edit (id=${item.id})}" class="btn btn-primary" role="button">수정</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>