<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/header :: header"></div>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <!--Daterangepicker 관련 CSS & JS-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <form method="post" th:object="${form}">
        <div class="form-group">
            <label th:for="price">일급</label>
            <input type="number" th:field="*{price}" class="form-control"/>
        </div>
        <div class="form-group">
            <label th:for="introduction">자기소개</label>
            <textarea type="text" th:field="*{introduction}" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label th:for="daterange">가능날짜</label>
            <input class="form-control" type="text" name="daterange" th:value="*{startDate} + ' - ' + *{endDate}" readonly/>
            <input type="hidden" th:field="*{startDate}"/>
            <input type="hidden" th:field="*{endDate}"/>
        </div>
        <div class="form-group">
            <label th:for="pettype">돌봄 가능 펫</label>
            <br/>
            <div class="form-check">
                <input type="checkbox" id="dog" th:field="*{dog}" name="dog" value="true" />
                <input type="hidden" name="_dog" value="on" />
                <label for="dog" class="form-check-label">개</label>
                <input type="checkbox" id="cat" th:field="*{cat}" name="cat" value="true" />
                <input type="hidden" name="_cat" value="on" />
                <label for="cat" class="form-check-label">고양이</label>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">수정하기</button>
        </div>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

<script>
    $(function () {

/*        //create a new date range picker
        $('input[name="daterange"]').daterangepicker({ startDate: '', endDate: '' });

//change the selected date range of that picker
        $('input[name="daterange"]').data('daterangepicker').setStartDate('12/12/23 09:30');
        $('input[name="daterange"]').data('daterangepicker').setEndDate('12/13/23 09:30');*/

        $('input[name="daterange"]').daterangepicker(
            {
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 15,
                locale: {
                    format: "YYYY-MM-DD HH:mm",
                    separator: " - ",
                    applyLabel: "확인",
                    cancelLabel: "취소",
                    fromLabel: "From",
                    toLabel: "To",
                    customRangeLabel: "Custom",
                    weekLabel: "W",
                    daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
                    monthNames: [
                        "1월",
                        "2월",
                        "3월",
                        "4월",
                        "5월",
                        "6월",
                        "7월",
                        "8월",
                        "9월",
                        "10월",
                        "11월",
                        "12월"
                    ],
                },
                drops: "down",
            },
            function (start, end) {
                $('input[name="startDate"]').val(start.format("YYYY-MM-DD HH:mm"));
                $('input[name="endDate"]').val(end.format("YYYY-MM-DD HH:mm"));
            }
        );
    });
</script>
</body>
</html>